<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% if messages %}
        {% for message in messages %}
            <div>
<!--                | means OR operator-->
                <strong>{{message|safe}}</strong>
            </div>
        {% endfor %}
    {% else %}
    {{order}}
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file1"> Upload a file</label>
        <input type="file" id="file1" name="file">
        <label for="percentage_x">Choose percentage for splitting x: </label>
        <select id="p_x" name="percentage_x">
          <option value="0.05">5%</option>
          <option value="0.10">10%</option>
          <option value="0.15">15%</option>
        </select>

          <label for="percentage_y">Choose percentage for splitting y: </label>
        <select id="p_y" name="percentage_y">
          <option value="0.05">5%</option>
          <option value="0.1">10%</option>
          <option value="0.15">15%</option>
        </select>
        <small>Only accepts CSV files</small>
        <button type="submit">Upload</button>
    </form>
    {% endif %}
{{ name }}
</body>
</html>